*{
    box-sizing: border-box;
}
:root{
    --color: #313136;
    --body-bg: #ebe6e6;
    --border: #9e9e9e;
    --header-shadow: #b5b5b5;
    --absent: #3a3a3c;
    --present: #b59f3b;
    --correct: #538d4e;
    --alert-bg: #ee959c;
    --alert-color: #641212;
    margin: 0;
    padding: 0;
}

@media (prefers-color-scheme: dark) {
    :root{
        --color: #fff;
        --body-bg: #121213;
        --border: #424244;
        --header-shadow: #040404;
    }
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--body-bg); 
}
::-webkit-scrollbar-thumb {
  background: var(--border); 
}
::placeholder { 
  color: #eee;
  text-transform:none;
  font-weight: normal;
  font-size: 18px;
  opacity: 0.75;
}


body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--body-bg);
    color: var(--color);
}

header{
    box-shadow: 0 0px 12px var(--header-shadow);
    padding: 10px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 28px;
    height: auto;
    margin-right: 10px;
}

h1 {
    margin: 10px 0 5px;
}
p {
    margin: 0 0 15px;
}
main {
    margin: 0 auto;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

form {
    max-width: 500px;
    width: 100%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #0001;
}
.form-flex{
    display: flex;
    position: relative;
}

.form-group{
    width: 100%;
    max-width: 400px;
    margin: 0 auto 15px; 
}

label {
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
label span {
    font-size: 14px;
    color: #818384;
    font-weight: normal;
}

input {
    width: 100%;
    border: 2px solid #fff2;
    outline: none;
    height: 50px;
    color: #fff;
    padding: 5px 12px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 24px;
    font-weight: 600;
    box-shadow: #0002 2px 2px 10px inset, #0002 -2px -2px 10px inset;
}


#form-correct input{
    margin-right: 15px;
    background-color: var(--correct);
    text-align: center;
}

#input-present{
    background-color: var(--present);
}
#input-absent{
    background-color: var(--absent);
}


#results{
    min-width: 320px;
    max-width: calc( 100% - 500px);
    width: 100%;
    padding: 20px;
    max-height: calc( 100vh - 65px);
    overflow-y: auto;
    margin-top: 2px;
    position: relative;
}

#results:empty::after{
    content: 'Sorry filtered word not found in book';
    font-size: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

/* #results:hover .word{
    opacity: 0.7;
    filter:blur(2px);
} */
#results:hover .word:hover{
    opacity: 1;
    filter:blur(0px);
    transform: scale( 1.15);
    box-shadow: 0 6px 10px #0001 , 0 3px 12px #0001;
    z-index: 10;
}

.word {
    font-size: 20px;
    display: inline-block;
    text-transform: uppercase;
    margin: 16px;
    white-space: nowrap;
    display: inline-flex;
    transition: 0.3s ease-in;
    box-shadow: 0 0 0 #0001 , 0 0 0 #0001;
}


.word i {
    background-color: #0694e5 ;
    font-style: normal;
    width: 25px;
    height: 25px;
    line-height: 28px;
    display: inline-block;
    text-align: center;
    margin:0 0.5px;
    color: #fff;
}
.word .incSty{
    background-color:var(--present);
}
.word .crtSty{
    background-color:var(--correct);
}


/* Ipad L*/
@media (max-width: 1200px) {
   .word{
       margin: 8px;
   }
}

/* Ipad P*/
@media (max-width: 900px) {
   main{
       display:block 
   }
   form{
       max-width: 100%;
       padding: 20px ;
   }
   #results{
        max-width: 100%;
        max-height: calc( 100vh - 395px);
        text-align:center;
    }
}
    
    
@media (orientation: landscape) and (max-width: 900px) {
        #results{
            max-height: 3000px;
            overflow: visible;
   }
}
